<div class="container px-5 pt-3 pb-3 bg-mirage rounded mt-4">
<div class="row">
    <h2 class="text-center col-lg-11 pl-5"><%= @progress_update.user_goal.goal.name %></h2>
    <p class="text-center col-lg-1"><%= link_to 'Feed' , '/' , class:"btn btn-info "%></p>
</div>

<div id="update-container" class="bg-info rounded px-3 pt-2 pb-2">
    <%= simple_format(@progress_update.content) %>
    <!-- <p>STATUS: <%= @progress_update.goal_completion_status ? "COMPLETE" : "INCOMPLETE" %></p> -->
    <p><%= @progress_update.created_at %></p>
</div>

</div>
<div id="comment-feed" class="accordion">
<% acc_ind = 0 %>
    <% @progress_update.comments.each do |comment| %>
        <div class="card bg-mirage rounded mb-2 mt-2">
            <div class="card-header">
                <h5><button class="btn btn-info" data-target= <%="#acc" + acc_ind.to_s %>> <%= comment.user.username %> </button></h5>
            </div>

            <div id=<%= "#acc" + acc_ind.to_s %> class="collapse show px-3" aria-labelledby="headingOne" data-parent="#comment-feed">

                    <%= simple_format(comment.content) %>

            </div>

            <div class="px-3><%= comment.created_at %></div>
            <% if comment.user == current_user %>
                <%= link_to 'Delete' , comment , method: :delete , id: comment.id %>
            <% end %>
            </div>
            </div>
            <% acc_ind += 1 %>
    <% end %>
</div>

<%= render 'new_comment' %>