<div>
    <h2><%= @progress_update.user_goal.goal.name %></h2>
    <%= link_to 'Feed' , progress_updates_path %>
</div>

<div id="update-container">
    <%= simple_format(@progress_update.content) %>
    <!-- <p>STATUS: <%= @progress_update.goal_completion_status ? "COMPLETE" : "INCOMPLETE" %></p> -->
    <p><%= @progress_update.created_at %></p>
</div>

<div id="comment-feed">
    <% @progress_update.comments.each do |comment| %>
        <div>
        <div><%= comment.user.username %></div>
            <div><%= simple_format(comment.content) %></div>
            <div><%= comment.created_at %></div>
            <% if comment.user == current_user %>
                <%= link_to 'Delete' , comment , method: :delete , id: comment.id %>
            <% end %>
            </div>
    <% end %>
</div>

<%= render 'new_comment' %>