<div class="error-handling">
  <%# session[:user] %>
  <% if flash[:error] %>
    <%= flash[:error] %>
<% end %>
</div>


<%= form_for @usergoal do |f| %>
    <div>
    <%= f.label "Select a preset goal: " , class:"form-label"%>
    <%= f.collection_select(:goal_id, Goal.all, :id, :name, {prompt: true}, {class:"black-text dropdown"} )%><br>
    <%# Create new Goal instance %>
    <%#= render partial: 'goals/new_edit_form'%>
    </div>
    <div>
    <%= f.label "Choose Frequency:"%>
    <ul>
    <% UserGoal.frequency_options.each do |option| %>
      <%= f.radio_button :frequency, option%>
        <%= f.label option %>

    <% end %>
      
    </ul>
    <%= f.label "Notes?"%>
    <%= f.text_area :notes , class:"form-control"%>

    </div>

    <%= f.submit 'Submit' , class:"btn btn-light mt-3"%>    

<% end %>