<%= session[:user] %>
<%= form_for @usergoal do |f| %>
    <div>
    <%= f.label "Select a preset goal: "%>
    <%= f.collection_select(:goal, Goal.all, :id, :name, prompt: true) %><br>
    <%# Create new Goal instance %>
    <%= render partial: 'goals/new_edit_form'%>
    </div>
    <div>
    <%= f.label "Choose Frequency:"%>
    <% UserGoal.frequency_options.each do |option| %>
        <ul><%= f.radio_button :frequency, option %>
        <%= f.label option %></ul>
    <% end %>
    </div>
    <%= f.hidden_field :user_id %>
    <%= hidden_field_tag 'selected', 'none'%>

    <%= f.submit %>
    

<% end %>