<h1>Hey <%= @usergoal.user.username %>! How is your <%= @usergoal.frequency.downcase %> goal of: "<%= @usergoal.goal.name.downcase %>" going? </h1>

<div>
    
   
    
    <h4>Completion Status: <%= @usergoal.completion %></h4>
</div>

<div>
<%= @usergoal.notes %>
</div>



<% if logged_in? %>
    <%= link_to 'Edit Goal', edit_user_goal_path %>
    <%#= link_to 'Did you complete your goal?', complete_path(@usergoal) %>
    <%= link_to 'Did you complete your goal?', new_user_goal_progress_update_path(@usergoal) %>
    <%= render 'delete_button' %>
<% end %>
