<h1><%= @usergoal.goal.name %>: <%= @usergoal.user.username %></h1>

<div>
    <%= @usergoal.user.full_name %>
    <%= @usergoal.user.username %>
    <%= @usergoal.frequency %>
    <%= @usergoal.completion %>
</div>

<div>
<%= @usergoal.notes %>
</div>

